{% extends 'registration/base.html' %}
{% block main %}


<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center bg-light rounded-3 p-5">
            <form action="" method="post">
                {% csrf_token %}
                <p> <span class="texxt-success"><i class="bi bi-check"></i></span> تغییرات با موفقییت انجام شد</p>
                <br>
                <a href="{% url 'account:profile' %}" class="btn btn-success">بازگشت به صفحه پروفایل</a>
                
            
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<br><br><br>
{% endblock %}