{% extends 'registration/BaseAdmin.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block titlemeta %}تغییر رمز عبور{% endblock %}{% endblock %}




{% block main %}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <p class="h3 card-title mb-0 float-left">تغییر رمز عبور</p>

        </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-6">
                {{ form.old_password|as_crispy_field }}
            </div>
            <div class="col-6"></div>
            <div class="col-6">
                {{ form.new_password1|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.new_password2|as_crispy_field }}
            </div>
        </div>
            <button class="btn btn-danger" type="submit" value="save" >اعمال تغییرات</button>
        </form>

    </div>
</div>

{% endblock %}