@font-face {
  font-family: Sahel;
  src: url('Sahel.eot');
  src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
}
*{
    font-family:Sahel !important;
}
body {
    direction: rtl;
    text-align:justify;

}
.navbar-nav{
    margin-left: initial !important;
    margin-right:auto !important;
}
.post-meta{
    text-align:left;
}

header.masthead .site-heading h1 {
    font-size: 40px !important;
}
header.masthead{
    height:90vh !important;
}
.post-title{
    font-size:32px !important;
}
.post-subtitle{
    font-size:16px !important;
}

.nav ul{
    padding-right: 0;
}
.nav ul li {
    border-bottom: none;
    height: 86px;
    line-height: 86px;
    font-size: 14px;
    display: inline;
    float: left !important;
    margin: 0 auto;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    transition: .3s background-color;
    padding: 0 24px;
}
.nav ul li a:hover {
    background-color: #5c89c7;
    color: #FFFFFF;
}
.nav a {
    border-bottom: none;

}
.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
.nav li:hover ul {
    display: block;
}
.nav ul li ul li{
    display: block;
    float: none !important;
    height: auto;
    line-height: 34px;
}
.nav ul li ul li ul {
    position:absolute;
    right: 100%;
    top: 0;
    display: none !important;
}
.nav ul > li >ul > li:hover > ul {
    display: block !important;
}
.nav ul > li > ul > li > ul > li :hover > ul {
    display: block !important;
}